*{
    text-align: center;
}

.intro{
    padding-top: 20px;
}

.intro p{
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'VT323', monospace;
}

.intro h1{
    font-size: 30 px;
    font-family: 'Press Start 2P', cursive;
}

.intro h2{
    font-family:'DotGothic16', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

#firstPlayer{
    background-color: #76949F;
    font-family: 'Press Start 2P', cursive;
    border: solid black;
    padding: 5px;
    margin: 0px 500px 50px 500px;
    border-radius: 20px;
}

#secondPlayer{
    background-color: #76949F;
    font-family: 'Press Start 2P', cursive;
    border: solid black;
    padding: 5px;
    margin: 0px 500px 50px 500px;
    border-radius: 20px;
}

#thirdPlayer{
    background-color: #76949F;
    font-family: 'Press Start 2P', cursive;
    border: solid black;
    padding: 5px;
    margin: 0px 500px 50px 500px;
    border-radius: 20px;
}

#randomizer button{
    background-color: #5F506B;
    font-family: 'VT323', monospace;
    padding: 10px;
    font-size: 30px;
    border-radius: 20px;
}
.container{
    background-color: #BBBCC9;
    font-family: 'VT323', monospace;
    font-size: 20px;
    margin: 25px 100px 0px 100px;
    border: solid black;
    padding: 15px;
}